<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="redditController">
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css"></link>

  </head>

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <!-- Submit drowdown reveal -->
                <button type="button" class="navbar-btn" ng-click="submitScreen = !submitScreen">Submit Post</button>


                <input type="search" class="navbar-search" ng-model="searchText" placeholder="Search">
                <a class="navbar-brand page-scroll" href="#page-top">Reddit Clone</a>
                <select ng-model="selectedOrder" ng-options="option for option in options">Sort By</select>
            </div>


        </div>
        <!-- /.container-fluid -->

  </nav>

  <body>
  <!-- submit post screen -->
  <div modal="showModal" ng-show="submitScreen">
    <div class="modal-header">
        <h4>Submit a Post</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="title" ng-model="title">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Author" ng-model="author">
                </div>
                <div class="form-group">
                  <input type="textarea" class="form-control" placeholder="Description" ng-model="description">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Image URL" ng-model="image">
                </div>

              </form>
            </div>
          </div>
    </div>
    <div class="modal-footer">

      <!-- inside the submit screen to add post -->

      <button class="btn btn-success" ng-click="addPost()" ng-mouseup="submitScreen = !submitScreen">Okay</button>

      <button class="btn" ng-click="submitScreen = !submitScreen">Cancel</button>

    </div>
  </div>


    <!-- stories start -->
    <!--/stories-->
   <br>
   <div class="row" ng-repeat="post in posts | orderBy:selectedOrder | filter:searchText">
       <div class="col-md-1"></div>
       <div class = "col-md-10 well well-lg">
       <br>
       <div class="col-md-2 col-sm-3 text-center">
           <a class="story-title" href="#"><img alt="" src=http://api.ning.com/files/DtcI2O2Ry7DS11DQI3Y3LiFq8qcDACKmc27Z7eEsnWOd*iwoAGM7AmDCcf*FHt0FQjNpY6WyY2GFGvrABz-kc-svTm3rn78v/1082115632.jpeg style="width:100px;height:100px" class="blog-image"></a>
       </div>
       <div class="col-md-10 col-sm-9">
           <div class="row">
               <h4 class="col-md-8">
                <span>{{ post.title }} |</span>
           <span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click="post.votes = post.votes +1"> </span>
           <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click="post.votes = post.votes -1"></span>
            <span> {{post.votes}} </span>
           </h4>
           </div>
           <div class="row">
               <div class="col-xs-9">
                   <p>{{ post.description }}.</p>
                   <h4>
                      <small style="font-family:courier,'new courier';" class="text-muted">
                      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <time title="{{ post.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ post.date | amCalendar }}</time>  |
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                      <a href="#" class="text-muted">comment |</a>
                         <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      <a href="" class="text-muted" ng-click="commentScreen = !commentScreen">Add Comment</a>
                         </small>
                      <div ng-show="commentScreen">
                        <!-- comment form for comments SHOW/HIDE-->
                         <div class="modal-body">
                            <div class="row">
                              <div class="col-sm-offset-1 col-sm-10">
                                <form>
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="title" ng-model="commentTitle">
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Author" ng-model="commentAuthor">
                                </div>
                                <div class="form-group">
                                  <input type="textarea" class="form-control" placeholder="Description" ng-model="commentDescription">
                                </div>
                              </form> <!-- end form -->
                            </div> <!-- end col-sm-offset-1 -->
                          </div> <!-- end row -->
                        </div> <!-- end modal body -->


              <button class="btn btn-success" ng-click="addComment()" ng-mouseup="commentScreen = !commentScreen">Post</button>
              <button class="btn" ng-click="commentScreen = !commentScreen">Cancel</button>

          </div>
                   </h4>
                </div>
               <div class="col-xs-3"></div>
           </div>
           <br>
           <br>
       </div>
   </div>
   </div>
   <hr>



    <div class="container box" ng-repeat="post in posts | orderBy:selectedOrder | filter:searchText" >
      <div class="row">
        <!-- picture -->
        <div class="col-sm-offset-1, col-sm-2">
          <img ng-src="{{post.image}}" alt="camera" height="100" width="auto">
        </div>
        <div class="col-sm-8">
        <h2 class="title"> {{post.title}}</h2>
          <h4 class="author"> {{post.author}}</h4>
          <p class="description">{{post.description}}</p>
          <time title="{{ post.date | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ post.date | amCalendar }}</time>

          <p class="votes"> {{post.votes}} <button type="submit" class="btn btn-default" ng-click="post.votes = post.votes +1">Upvote</button>

          <button type="submit" class="btn btn-default" ng-click="post.votes = post.votes -1">Downvote</button></p>

          <!-- NEED HELP HOOKING THIS UP!!! -->
          <!-- comment in comments... -->
          <button class="btn btn-success" ng-click="commentScreen = !commentScreen">Add a comment</button>
          <br>
          <button ng-show="post.comments.length > 0" ng-click="commentsDisplay = !commentsDisplay">Comments</button>


            <div ng-show="commentsDisplay" ng-repeat="comment in post.comments">

              <p>{{ comment.author }} says {{ comment.comment }}</p>


          </div>


          <div ng-show="commentScreen">
              <!-- comment form for comments SHOW/HIDE-->
               <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                      <form>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="title" ng-model="commentTitle">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Author" ng-model="commentAuthor">
                      </div>
                      <div class="form-group">
                        <input type="textarea" class="form-control" placeholder="Description" ng-model="commentDescription">
                      </div>
                    </form> <!-- end form -->
                  </div> <!-- end col-sm-offset-1 -->
                </div> <!-- end row -->
              </div> <!-- end modal body -->


              <button class="btn btn-success" ng-click="addComment()" ng-mouseup="commentScreen = !commentScreen">Post</button>
              <button class="btn" ng-click="commentScreen = !commentScreen">Cancel</button>

          </div>

        </div> <!-- end col-sm-8 -->
      </div> <!-- end row -->
    </div> <!-- end container box -->








    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <!-- load momentJS (required for angular-moment) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

    <!-- load angular-moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

    <!-- angular ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="main.js"></script>


  </body>
</html>
